@font-face {
    font-family: 'Revue';

    src:
   url('https://cdn.jsdelivr.net/gh/sonejijay52-creator/fonts@main/Revue.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/sonejijay52-creator/fonts@main/Revue.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}
