@font-face {
    font-family: 'Revue';
    src: url('https://github.com/sonejijay52-creator/fonts/blob/main/Revue.woff2') format('woff2'),
        url('https://github.com/sonejijay52-creator/fonts/blob/main/Revue.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

